<h1>Welcome stranger</h1>
<h3></h3>




<script>

setTimeout(function() {
  document.querySelector('h3').innerHTML = "wait for it...";
},2000);

setTimeout(function() {
  document.querySelector('h3').innerHTML = "";
  document.querySelector('h1').innerHTML = "Hello World";
},5000);












</script>
